<!DOCTYPE html>
<html lang="en" style="background: radial-gradient(var(--bs-white) 0%, #ff00ff 100%);">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<body style="background: rgba(255,255,255,0);">
    <div class="row">
        <div class="col-4 col-md-2" style="margin-right: auto;margin-left: auto;padding: 1%;">
            <button class="btn btn-primary" data-bss-hover-animate="rubberBand" id="Disconect" type="button" style="margin-right: auto;margin-left: auto;display: block;">Deconexion</button>
        </div>
        <div class="col-2 col-md-1" style="padding: 1%;margin-right: auto;margin-left: auto;">
            <button class="btn btn-info border rounded-circle" data-bss-hover-animate="pulse" id="Help" type="button" style="margin-right: auto;margin-left: auto;display: block;">?</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 style="margin-top: 5%;margin-left: auto;margin-right: auto;text-align: center;font-size: 53.472px;">BlindTest</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-lg-3 offset-lg-0" style="margin-top: 10%;margin-left: auto;margin-right: auto;">
            <button class="btn btn-primary pulse animated infinite" id="playlist" type="button" style="margin-right: auto;margin-top: 2%;margin-left: auto;display: block;">Voir mes playlists</button>
        </div>
    </div>
    <button class="btn btn-primary pulse animated infinite" id="play" type="button" style="margin-right: auto;margin-left: auto;display: block;margin-top: 2%;">Lancer une partie</button>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="/Controllers/accueilController.js"></script>
</body>

</html>