<!DOCTYPE html>
<html lang="en" style="background: radial-gradient(var(--bs-white) 0%, #ff00ff 100%);">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>

    <style>
        .modal-dialog-custom {
          margin-top: 28vh;
        }
      </style>
  </head>

<body style="background: rgba(255,255,255,0);">
    <div class="row">
        <div class="col-4 col-sm-3 col-md-2" style="margin-right: auto;margin-left: auto;padding: 1%;">
            <button class="btn btn-primary" data-bss-hover-animate="rubberBand" id="disconect" type="button" style="margin-right: auto;margin-left: auto;display: block;">Deconexion</button>
        </div>
        <div class="col-4 col-md-2 col-lg-2" style="padding: 1%;margin-right: auto;margin-left: auto;">
            <button class="btn btn-primary" data-bss-hover-animate="rubberBand" id="return" type="button" style="margin-right: auto;margin-left: auto;display: block;">Retour</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 style="margin-top: 5%;margin-left: auto;margin-right: auto;text-align: center;">BlindTest</h1>
            <div class="row">
                <div class="col"><input type="search" style="margin: auto;display: block;"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10 col-md-6 col-lg-8" style="margin-right: auto;margin-left: auto;margin-top: 2%;background-color: #ffe3f6;">
            <table class="table">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th></th> <!-- Empty column for spacing -->
                        <th style="text-align: right;">Open</th> <!-- "Open" column aligned to the right -->
                        <th style="text-align: right;">Delete</th> <!-- "Delete" column aligned to the right -->
                    </tr>
                </thead>
                <tbody id="listPlaylists">
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-lg-3 offset-lg-0" style="margin-top: 5%;margin-right: auto;margin-left: auto;">
            <button class="btn btn-primary pulse animated infinite" data-target="#exampleModal" data-toggle="modal" type="button" style="margin-right: auto;margin-left: auto;display: block;">Crée une playlist</button>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-custom" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <input type="text" id="inputText" placeholder="Entrez le nom de votre playlist ici" style="width: 60%;">
              <button id="sendAjax" class="btn btn-primary" style="margin-left: 12%;">Envoyer</button>
            </div>
          </div>
        </div>
    </div>

    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="/Controllers/creation_modification_playlistsController.js"></script>
</body>

</html>