<!DOCTYPE html>
<html lang="en" style="background: radial-gradient(var(--bs-white) 0%, #ff00ff 100%);">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/aos.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/Controllers/page_lancement_partieController.js"></script>
</head>

<body style="background: rgba(255,255,255,0);">
    <div class="row">
        <div class="col-4 col-sm-3 col-md-2" style="margin-right: auto;margin-left: auto;padding: 1%;"><button class="btn btn-primary" data-bss-hover-animate="rubberBand" id="disconect" type="button" style="margin-right: auto;margin-left: auto;display: block;">Deconexion</button></div>
        <div class="col-4 col-md-2 col-lg-2" style="padding: 1%;margin-right: auto;margin-left: auto;"><button class="btn btn-primary" data-bss-hover-animate="rubberBand" id="return" type="button" style="margin-right: auto;margin-left: auto;display: block;">Retour</button></div>
    </div>
    <div class="row">
        <div class="col">
            <h1 style="margin-top: 5%;margin-left: auto;margin-right: auto;text-align: center;">BlindTest</h1>
        </div>
    </div>
    <div class="row" data-aos="fade-right">
        <div class="col-10 col-md-6 col-lg-8" style="margin-right: auto;margin-left: auto;margin-top: 2%;background-color: #ffe3f6;padding: 2%;border-radius: 24px;">
            <div class="row">
                <div class="col">
                    <h1 style="margin-left: auto;margin-right: auto;text-align: center;">Liste des joueurs</h1>
                </div>
            </div>
            <div class="row">
                <div class="col"><input type="text" id="input_joueur" style="display: block;margin: auto;"></div>
                <div class="col"><button class="btn btn-primary" data-bss-hover-animate="tada" id="ajouter-joueur" type="button" style="display: block;margin: auto;">Ajouter</button></div>
            </div>
            <ul id="player_list"></ul>
        </div>
    </div>
    <div class="row" data-aos="fade-right">
        <div class="col-10 col-md-6 col-lg-8" style="margin-right: auto;margin-left: auto;margin-top: 2%;background-color: #ffe3f6;padding: 2%;border-radius: 24px;">
            <div class="row">
                <div class="col">
                    <h1 style="margin-left: auto;margin-right: auto;text-align: center;">Options</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1 style="margin-left: auto;margin-right: auto;text-align: center;font-size: 20px;">Temps de réponse (s)</h1>
                </div>
                <div class="col">
                    <h1 style="margin-left: auto;margin-right: auto;text-align: center;font-size: 20px;">Nombre de manche (3 mini)</h1>
                </div>
            </div>
            <div class="row">
                <div class="col"><input type="text" id="temp_reponse" style="display: block;margin: auto;"></div>
                <div class="col"><input type="text" id="nbr_manche" style="display: block;margin: auto;"></div>
            </div>
            <div class="row">
                <div class="col" id="tempError" style="display:none;color:red;text-align:center;"></div>
                <div class="col" id="mancheError" style="display:none;color:red;text-align:center;"></div>
            </div>
        </div>
    </div>
    <div class="row" data-aos="fade-right">
        <div class="col-10 col-md-6 col-lg-8" style="margin-right: auto;margin-left: auto;margin-top: 2%;background-color: #ffe3f6;padding: 2%;border-radius: 24px;">
            <div class="row">
                <div class="col">
                    <h1 style="margin-left: auto;margin-right: auto;text-align: center;">Sélection de la playlist</h1>
                </div>
            </div>
            <div class="row">
                <div class="col" style="text-align: center;"> <select id="playlistDropdown">
                    <option value="">Sélectionner une playlist</option>
                </select></div>
        </div>
    </div>
    <div class="row" data-aos="fade-down">
        <div class="col-6 col-lg-3 offset-lg-0" style="margin-top: 4%;margin-right: auto;margin-left: auto;height: 65px;"><button class="btn btn-primary pulse animated infinite" id="lancer_partie" type="button" style="margin-right: auto;margin-left: auto;display: block;">Lancer la partie</button></div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/aos.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
</body>

</html>