<!DOCTYPE html>
<html lang="en" style="background: radial-gradient(var(--bs-white) 0%, #ff00ff 100%);">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body style="background: rgba(255,255,255,0);">
    <div class="row">
        <div class="col-4 col-md-2" style="margin-right: auto;margin-left: auto;padding: 1%;">
            <h1 class="wobble animated" style="margin-top: 5%;margin-left: auto;margin-right: auto;text-align: center;font-weight: bold;">Fin de partie !</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 data-bss-hover-animate="tada" style="margin-top: 5%;margin-left: auto;margin-right: auto;text-align: center;">Résultat de la partie&nbsp;</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="container" style="background-color: rgba(55,55,55,0.69);color: white;border-radius: 53px;transform: scale(1) skew(0deg);border-width: 68px;--bs-body-font-weight: bold;width: 324px;height: auto;padding: 13px;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col"><button class="btn btn-primary pulse animated infinite" id="FinPartie" type="button" style="margin-right: auto;margin-left: auto;display: block;margin-top: 2%;">Fin de partie</button></div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="/Controllers/scoreController.js"></script>
</body>

</html>